@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.transacciones img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.buttons {
    padding-top: 15px;
}

.buttons button{
    margin-right: 15px;
}

.transacciones  {
  width: 100%;
  padding: 10px;   
}


