<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class='menu-top'></div>

<div class="header">
  <div class="menu-mobile">
    <img src="https://gurupago.com//assets/img/header/menu-mobile.svg" alt="Menu">
  </div>

  <div class="logo">
    <a href="https://gurupago.com/home/index">
      <img src="https://gurupago.com//assets/img/header/logo.png" alt="Paga Con Efectivo">
    </a>
  </div>
  <!-- .logo -->

  <div class="links">
    <div class="link">
      <a href="https://gurupago.com/home/goToQuestions">Preguntas frecuentes</a>
    </div>

    <div class="link">
      <a href="https://gurupago.com/home/goToSellers">Comercios</a>
    </div>

    <div class="link">
      <a href="https://gurupago.com/home/goToClientAtention">Atención al cliente</a>
    </div>

    <div class="link">
      <a href="https://gurupago.com/home/goToWhereLoad">Puntos de pago o carga</a>
    </div>

  </div> <!-- .links -->

</div>


<router-outlet></router-outlet>

<footer>
<div>
    <ul>
      <li><a href="https://gurupago.com/home/goToSecurity">Política de seguridad</a></li>
      <li><a href="https://gurupago.com/home/goToPrivacy">Política de privacidad</a></li>
      <li><a href="https://gurupago.com/home/goToTermsAndConditions">Términos y condiciones</a></li>
    </ul>
    <p>Copyright 2016 Gurupago - Todos los derechos reservados</p>
  </div>
</footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


